<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lastName</key>
		<string>Wynn</string>
		<key>firstName</key>
		<string>Tyler</string>
	</dict>
	<dict>
		<key>firstName</key>
		<string>Jac</string>
		<key>lastName</key>
		<string>Wynn</string>
	</dict>
	<dict>
		<key>lastName</key>
		<string>Maravich</string>
		<key>firstName</key>
		<string>Pete</string>
	</dict>
</array>
</plist>
